<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="css/about.css" >
</head>
<body>
    {{>header}}
<div class= "name">{{this.name}}</div>

<div class= "text">{{this.text}}<br>
This site uses data from mapbox.com and darksky.net
</div>
    {{>footer}}
</body>
</html>