<!DOCTYPE html>
<html>
 <head>
    <link rel="stylesheet" type="text/css" href="css/index.css" >
 </head>

<body>
   {{>header}}
   <div class= "welcome"> Welcome to Weather App.</div> 
    <div class = "text">Click Weather to Know the weather of your location </div>
   {{>footer}}
<script src="js/app.js"></script>
</body>

</html>

