<html>
    <head>
       <link rel="stylesheet" type="text/css" href="css/header.css" >
    </head>
    <body>
       <div class = "title">WeatherApp</div>
       <div class = "link">
           <a href = "/index">Home</a>
           <a href="/">Weather</a>
           <a href="/about">About</a>
       </div>
    </body>
</html>
